@using SithAcademy.Services.Data.Interfaces;
@using SithAcademy.Web.Infrastructure.Extensions;
@model IEnumerable<ResourcePreviewViewModel>

@inject IOverseerService OverseerService
@{
    string userId = User.GetId()!;
    bool userIsOverseer = await OverseerService.UserIsOverseerAsync(userId);
}

<p class="card-text text-center h4 mt-2 mb-2">The following resources will assist you in your completion of this trial.</p>

@foreach (ResourcePreviewViewModel resource in Model)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@resource.ImageUrl" class="card-img" alt="@resource.Name Image Preview">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@resource.Name</h5>
                    <a href="@resource.SourceUrl" target="_blank" class="btn btn-warning mb-2">Access resource</a>

                    @if (userIsOverseer)
                    {
                        <a asp-controller="Resource" asp-action="Edit" asp-route-id="@resource.Id">
                            <input class="btn btn-success" role="button" value="Edit resource details" />
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
