@model AllTrialsQueryModel
@{
    ViewBag.Title = "All Trials";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 row-cols-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Academy"></label>
                <select asp-for="Academy" class="form-control">
                    <option value="">All</option>
                    @foreach (string academy in Model.Academies)
                    {
                        <option value="@academy">@academy</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="TrialSelect"></label>
                <select asp-for="TrialSelect" class="form-control">
                    <option value="0">All</option>
                    <option value="1">Locked</option>
                    <option value="2">Unlocked</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="RecordsPerPage"></label>
                <select asp-for="RecordsPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="col-md-3">
            <div class="form-group mt-3 p-2">
                <input type="submit" value="Search" class="btn btn-danger" />
                <a asp-area="" asp-controller="Trial" asp-action="Add" class="btn btn-success">Add Trial</a>
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalRecords /
        Model.RecordsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Trial"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Academy"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.TrialSelect)">Previous Page</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Trials.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Trial"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Academy"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.TrialSelect)">Next Page</a>
    </div>
</div>

@if (!Model.Trials.Any())
{
    <h2 class="text-center">No trials found by the given criteria!</h2>
}

<div class="row">
    @foreach (TrialSortingViewModel trial in Model.Trials)
    {
        <partial name="_TrialPartial" model="@trial" />
    }
</div>