@model GradeHomeworkDetailsViewModel

<div class="mb-3">
    <p>Submitted by: @Model.Submitter</p>
    <p>Created on: @Model.CreatedOn</p>
    <label class="form-label">Homework content:</label>
    <textarea class="form-control" rows="4" disabled="disabled">@Model.Content</textarea>
</div>

@if (Model.CurrentScore != 0)
{
    <div class="mb-3">
        <p>Current score: @Model.CurrentScore</p>
        <p>Last Reviewed By: Lord @Model.LastReviewer</p>
        <label class="form-label">Latest Feedback:</label>
        <textarea class="form-control" rows="4" disabled="disabled">@Model.LastFeedback</textarea>
    </div>
}
