@model GradeHomeworkDetailsViewModel

<div class="mb-3">
    <label class="form-label">Submitted by:</label>
    <p class="form-control" disabled="disabled">@Model.Submitter</p>
</div>
<div class="mb-3">
    <label class="form-label">Created on:</label>
    <p class="form-control" disabled="disabled">@Model.CreatedOn</p>
</div>
<div class="mb-3">
    <label class="form-label">Homework content:</label>
    <textarea class="form-control" rows="4" disabled="disabled">@Model.Content</textarea>
</div>

@if (Model.CurrentScore != 0)
{
    <div class="mb-3">
        <label class="form-label">Current score:</label>
        <p class="form-control" disabled="disabled">@Model.CurrentScore</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Graded By:</label>
        <p class="form-control" disabled="disabled">@Model.LastReviewer</p>
    </div>
    <div class="mb-3">
        <label class="form-label">Latest Feedback:</label>
        <textarea class="form-control" rows="4" disabled="disabled">@Model.LastFeedback</textarea>
    </div>
}
