@model AllHomeworksQueryModel
@{
    ViewBag.Title = "All Homeworks";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 row-cols-2 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Trial">Select trial</label>
                <select asp-for="Trial" class="form-control">
                    <option value="">All</option>
                    @foreach (string trial in Model.Trials)
                    {
                        <option value="@trial">@trial</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="HomeworkSorting">Order by</label>
                <select asp-for="HomeworkSorting" class="form-control">
                    <option value="0">Date (newest first)</option>
                    <option value="1">Date (oldest first)</option>
                    <option value="2">Score (high to low)</option>
                    <option value="3">Score (low to high)</option>
                    <option value="4">Passed</option>
                    <option value="5">Not Passed</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="RecordsPerPage"></label>
                <select asp-for="RecordsPerPage" class="form-control">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="col-md-3">
            <div class="form-group mt-3 p-2">
                <input type="submit" value="Search" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>


@{
    int previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalRecords /
        Model.RecordsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-area=""
           asp-controller="Homework"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Trial"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.HomeworkSorting)">Previous Page</a>
    </div>

    @{
        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Trials.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
           asp-area=""
           asp-controller="Homework"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Trial"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.HomeworkSorting)">Next Page</a>
    </div>
</div>

@if (!Model.Homeworks.Any())
{
    <h2 class="text-center">No homeworks found by the given criteria!</h2>
}

<div class="row">
    @foreach (HomeworkSortingViewModel homework in Model.Homeworks)
    {
        <partial name="_HomeworkPartial" model="@homework" />
    }
</div>