@model AcademyDetailsViewModel

<h2 class="text-center">@Model.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Title Image">
        <div class="card-body">
            <p class="card-text">@Model.Description</p>

            @if (!Model.IsLocked)
            {
                @if (User.Identity != null && User.Identity.IsAuthenticated &&
               Model.Acolytes.Any(a => a.Id == (string)ViewData["UserId"]!))
                {
                    @foreach (TrialOverviewViewModel trial in Model.Trials)
                    {
                        <p class="card-text">@trial.Title</p>
                        <a asp-controller="Trial" asp-action="Display" asp-route-id="@trial.Id" class="btn btn-danger mb-2">Trial Details</a>
                    }
                }
                else
                {
                    <form asp-controller="Academy" asp-action="Apply" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-danger mb-2" type="submit" value="Join academy"/>
                    </form>
                }
            }
            else
            {
                <partial name="_LockedPartial" />
            }
        </div>
    </div>
</div>