@model IEnumerable<AcademyOverviewViewModel>
@{
    ViewData["Title"] = "Our Academies";
    AcademyOverviewViewModel[] academies = Model.ToArray();
}

<div class="container text-center">
    <div class="row">
        <p>The arts of the Sith are many and varied. The academies here are but a taste of what the Dark Side has to offer...</p>

        @for (int i = 0; i < academies.Length; i++)
        {
            AcademyOverviewViewModel academy = academies[i];

            <div class="col">
                <div class="row d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@academy.ImageUrl" alt="Academy Image">
                        <div class="card-body">
                            <h3 class="card-title">@academy.Title</h3>
                            <h5 class="card-title">@academy.LocationName</h5>
                            <a asp-controller="Academy" asp-action="Details" asp-route-id="@academy.Id" class="btn btn-danger mb-2">Academy Details</a>
                            <span></span>
                            <a asp-controller="Location" asp-action="Details" asp-route-id="@academy.LocationId" class="btn btn-danger mb-2">Location Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>